atcoder/competitive_programming_rules/doc/doc.aux
atcoder/competitive_programming_rules/doc/doc.aux
atcoder/competitive_programming_rules/doc/doc.dvi
atcoder/competitive_programming_rules/doc/doc.log
atcoder/competitive_programming_rules/doc/doc.tex
atcoder/competitive_programming_rules/doc/doc.toc
atcoder/competitive_programming_rules/doc/sty/ascolorbox.sty
atcoder/competitive_programming_rules/doc/sty/eclbkbox.sty
atcoder/competitive_programming_rules/doc/sty/okumacro.sty
