atcoder/competitive_programming_rules/doc/doc.aux
atcoder/competitive_programming_rules/doc/doc.aux
atcoder/competitive_programming_rules/doc/doc.dvi
atcoder/competitive_programming_rules/doc/doc.log
atcoder/competitive_programming_rules/doc/doc.tex
atcoder/competitive_programming_rules/doc/doc.toc
